html {
  overflow: hidden;
  font-family: 'chaparral-pro', sans-serif;
}

.flex-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-radius-8 {
  border-radius: 8px;
}

.min-width-60 {
  min-width: 60vw;
}

.max-width-60 {
  max-width: 60vw;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

#ct_rect {
  height: 100px;
  width: 100px;
}

#color-sample-a-display {
  height: 80%;
  width: 80%;
}

#color-sample-b-display {
  height: 80%;
  width: 80%;
}
