html,
body {
  font-family: 'chaparral-pro', sans-serif;
  background: rgb(54, 54, 54);
}

#cc_context {
  position: absolute;
  top: 10%;
  left: 50%;
}

#cc_input {
  position: relative;
  left: -200px;
  height: 200px;
  width: 400px;
}

#cc_output {
  position: relative;
  left: -200px;
  height: 200px;
  width: 400px;
}

#cc_copy {
  position: relative;
  left: -200px;
  height: 200px;
  width: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
